body{
background:#000;
color:white;
font-family:Arial;
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
text-align:center;
}

.avatar{
width:120px;
border-radius:50%;
margin-bottom:20px;
}

.links a{
display:block;
width:240px;
margin:14px auto;
padding:15px;

color:white;
text-decoration:none;

background:rgba(255,255,255,0.08);
border-radius:12px;

backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);

border:1px solid rgba(255,255,255,0.18);

transition:0.25s;
}

.links a:hover{
background:rgba(255,255,255,0.18);
transform:scale(1.05);
}
